html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h3 {
  text-align: center;
  font-size: 5vw; }

@media screen and (min-width: 1000px) {
  h3 {
    font-size: 36px; } }

.listing-card img {
  max-width: 100%;
  max-height: 400px; }

#navigation-index.navbar-custom {
  background-color: rgba(97, 171, 203, 0.8);
  color: #D6EBE1;
  font-size: 1rem;
  font-weight: 100;
  min-height: 96px; }

#navigation-index svg.svg-inline--fa.fa-bars.fa-w-14 {
  color: #D6EBE1; }

#navigation-index a.nav-link {
  color: #D6EBE1; }

#navigation-index a.navbar-brand {
  color: #E6463A; }

#navigation-index .nav-link:hover {
  color: #E6463A; }

#navigation-index button.nav-link:hover {
  color: #E6463A; }

#navigation-index .navbar-brand {
  color: #EA1C2C;
  font-size: 2rem;
  padding-left: 60px; }

#navigation-index .form-inline.my-2.my-lg-0 {
  margin-top: 0; }

#navigation-index a.nav-link.mx-2.my-2 {
  width: 101.3px; }

#navigation-index a.nav-link.ml-3.my-2.btn-custom {
  width: 110px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: #D6EBE1; }

#navigation-index a.nav-link.ml-3.my-2.btn-custom:hover {
  border-color: #E6463A; }

#navigation-index button.nav-link.ml-3.my-2.btn-custom {
  width: 110px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: #D6EBE1;
  color: #D6EBE1; }

#navigation-index button.nav-link.ml-3.my-2.btn-custom:hover {
  border-color: #E6463A;
  color: #E6463A; }

#landing-page-container {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #69B3D4;
  background-image: url("../images/luca-upper-Z-4kOr93RCI-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#landing-page-container div.header {
  background-color: rgba(221, 221, 221, 0.7);
  width: 70%;
  min-width: 200px;
  text-align: center;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

#landing-page-container h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 7vw;
  color: white;
  letter-spacing: 5px;
  font-weight: 800;
  line-height: 1.18; }

#landing-page-container div.button {
  padding: 10px 0; }

@media (max-width: 991px) {
  #navigation-index a.nav-link {
    padding-left: 50px; }
  #navigation-index a.nav-link.ml-3.my-2.btn-custom {
    margin-left: 50px !important; }
  #navigation-index button.nav-link.ml-3.my-2.btn-custom {
    margin-left: 50px !important; } }

#landing-page-container a.btn.btn-light {
  width: 235px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

#navigation.navbar-custom {
  color: #226C9B;
  font-size: 1rem;
  font-weight: 100;
  min-height: 96px; }

#navigation svg.svg-inline--fa.fa-bars.fa-w-14 {
  color: #226C9B; }

#navigation a.nav-link {
  color: #226C9B; }

#navigation a.navbar-brand {
  color: #E6463A; }

#navigation .nav-link:hover {
  color: #E6463A; }

#navigation button.nav-link:hover {
  color: #E6463A; }

#navigation .navbar-brand {
  color: #EA1C2C;
  font-size: 2rem;
  padding-left: 60px; }

#navigation .form-inline.my-2.my-lg-0 {
  margin-top: 0; }

#navigation a.nav-link.mx-2.my-2 {
  width: 101.3px; }

#navigation a.nav-link.ml-3.my-2.btn-custom {
  width: 110px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: #226C9B; }

#navigation a.nav-link.ml-3.my-2.btn-custom:hover {
  border-color: #E6463A; }

#navigation button.nav-link.ml-3.my-2.btn-custom {
  width: 110px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border-color: #226C9B;
  color: #226C9B; }

#navigation button.nav-link.ml-3.my-2.btn-custom:hover {
  border-color: #E6463A;
  color: #E6463A; }

@media (max-width: 991px) {
  #navigation a.nav-link {
    padding-left: 50px; }
  #navigation a.nav-link.ml-3.my-2.btn-custom {
    margin-left: 50px !important; }
  #navigation button.nav-link.ml-3.my-2.btn-custom {
    margin-left: 50px !important; } }

.all-the-listings-cotainer {
  width: 80%;
  height: 50%; }

.all-the-listings-cotainer {
  width: 80%;
  height: 50%; }

.description {
  text-align: justify; }

/*# sourceMappingURL=style.css.map */