<div class="user-signup-login container">
  <h2>Signup</h2>

  <form class="sign-up-form" action="/signup" method="POST">
    <div>
      <span>Username:</span>
      <input type="text" name="username">
    </div>

    <div>
      <span>Password:</span>
      <input type="password" name="password">
    </div>

    <div>
      <span>Email:</span>
      <input type="email" name="email">
    </div>

    <div>
      <button class="btn btn-light">Create User</button>
    </div>


  </form>

  {{!-- <div class="sign-up-form" >
    <a href="/auth/google">Sign Up With Google</a> 
  </div> --}}
  <div class="sign-up-form button">
    <a class="btn btn-light"href="/auth/google"><img src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png" alt="google-icon" height="20px" width="20px"> Continue With Google</a> 
  </div>

</div>
