<div class="new-listing-container container">
  <h2>New Listing</h2>
  {{!-- <form action="/listings/create-new" method="POST"> --}}
  <form action="/listings/create-new" method="POST" enctype="multipart/form-data">

    <div>
      <span>Title Of Listing:</span>
    <input type="text" name="theTitle">
    </div>
    

    <div>
      <label>Image:</label>
    <input type="file" name="thePic">
    </div>
    

    <div>
      <p>Description of listing:</p>
    <textarea name="theDescription" cols="40" rows="20" maxlength="500"></textarea>
    </div>
    
    <div>
      <span>Price Of Listing:</span>
    <input type="text" name="thePrice">
    </div>
    


    <button class="btn btn-light">Submit Listing</button>

  </form> 
</div>





